@import url('https://fonts.googleapis.com/css2?family=inter:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* profile__img*/

.app {
    width: 100%;
    height: 100%;
}

.profileSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
   
}

.profile_img {
    width: 88px;
    height: 88px;
    padding: 0px;
    border: 5.5px solid #EBE9FE;
    border-radius: 275px;
}
.overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 88px;
    height: 88px;
    top: 50px;
    border-radius: 275px;
    opacity: 0;
    transition: 0.4s ease-in-out;
    background: linear-gradient(0deg, rgba(52, 64, 84, 0.75), rgba(52, 64, 84, 0.75));
    cursor: pointer;
}
.content {
    position: absolute;
    top: 50px;
    /* left: 30px; */
    cursor: pointer;
}

.profileSection:hover .overlay {
    opacity: 0.8;
}

/* Idoko Jude */
.twitter {
    font-family: "inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #101828;
    padding: 10px;
    flex: none;
    order: 0;
    flex-grow: 1;
}

/* Share Botton */
.shareButton {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 208px;
    top: 45px;
    background: #FFFFFF;
    border: 1px dashed #D0D5DD;
    border-radius: 20px;
}
.shareButton:hover {
    background: #F9FAFB;
    color: #667085 !important;
    border: 1px dashed #D0D5DD;
}
.shareButton:focus {
    background: #FFFFFF;
    border: 1px dashed #D0D5DD;
    box-shadow: 0px 0px 0px 4px #F2F4F7;
}

/* Links Area */

.linkSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 76px;
    padding: 24px 32px;
    background: #EAECF0;
    border: 1px solid #EAECF0;
    border-radius: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.linkSection .btn__zuri, .books, .book__python, .pitch, .book__design {
    font-family: "inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
    color: #101828;
    height: 76px;
}
.linkSection:hover {
    background: #D0D5DD;
}
.linkSection:focus {
    background: #EAECF0;
    border: 1px solid #98A2B3;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #EBE9FE;
}

/* Social Icon */
.social_icon {
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 24px;
}

/* Footer */
footer {
    font-family: "inter", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 48px 0px;
    border-top: 2px solid rgb(194, 191, 191);
    gap: 64px;
    width: 100%;
    height: 160px;
    left: 0px;
    top: 800px;
    background: #FFFFFF;
}

footer>.flex_container {
    font-family: "inter", sans-serif;
    flex: 1 1 20%;
    margin: 5px;
    height: 50px;
  }
  .flex_container h2 {
    font-family: "inter", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 28px; 
  }
  .flex_container h6 {
    font-family: "inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px; 
    color: #667085;
  }
  .flex_container label {
    background:#E7332B;
    height: 10px;
    width: 10px;
    border-radius: 50px;

  }

  @media only screen and (max-width: 768px) {
    .shareButton {
        right: 100px;
    }
    
  }

  @media only screen and (max-width: 425px) {
    .shareButton {
        display: none;
    }
    .shareButtonDots {
        display: block !important;
        position: absolute;
        width: 40px;
        height: 40px;
        right: 60px;
        top: 45px;
        border: 1px dashed #D0D5DD;
        border-radius: 20px;
    }
    
    footer {
        display: block;
        flex-direction: column;
        align-items: left !important;
        text-align: left;
   
    }

  }

